.user-form-card {
  margin: 0 auto;

  .user-form-card__title {
    padding: 20px 20px 5px 20px;
    margin: 0 auto;
  }

  .user-form-card__form {
    padding: 0px 20px 20px 20px;
  }

  .user-form-card__actions {
    text-align: right;
  }
}
